ipython
ipykernel
jupyter
numpy
scipy
matplotlib
pandas
scikit-learn
requests
graphviz
pydotplus
xgboost
catboost
lightgbm
gensim
nltk
opencorpora-tools
pymorphy2
seaborn
scikit-image
tensorflow
keras
tqdm
pydot
